
<div id="wrapper">
  
  <header id="header">
    <h1 class="logo">
      <span class="title">Naoya Matsumoto</span>
    </h1>
  </header>
  
  <nav id="gnav">
    <ul>
      <li><a href="#About">About</a></li>
      <li><a href="#works">Works</a></li>
    </ul>
  </nav>
  
  <main id="contents">
    
    <section class="section" id="About">
      <div class="inner">
        <div class="section-title-block">
          <h2 class="section-title"><span class="section-title-css">About</span></h2>
        </div>
        <div class="two-column-wrapper">
          
          <div class="two-column-image profile">
            <%= image_tag "kao2.jpg", class: "rounded-circle", height: "200px" %>
          </div>
          
          
          <div class="two-column-desc">
            <p class="text"><br>名前：松本 直也<br>学歴：千葉大学 法政経学部<br>現在はプログラミングの学習をしながら就職活動中<br>( 詳細はWantedlyに記載 )
            </p>
          </div>
          
        </div>
      </div>
    </section>
    
    <section class="section" id="works">
      <div class="inner">
        <div class="section-title-block">
          <h2 class="section-title"><span class="section-title-css">Works</span></h2>
          <div class="section-desc"></div>
        </div>
        <div class="card-wrapper my-gallery">
  
          <figure class="card">
            <figcaption class="card-caption">
              <p class="card-caption-title">チップサービス</p></p>
              <p class="card-caption-info">ユーザーが作品にチップを送ることができます。</p>
              <p class="card-caption-info">html/css/bootstrap/javascript/ruby on rails</p>
              <p class="card-caption-url1"><a class="url-link" href="https://tips-a.herokuapp.com/">T i p s</a></p>
              <p class="card-caption-url2"><a class="url-link" href="https://github.com/naoya0000/a-tip">git hub</a></p>
              <p class="card-caption-info">アプリケーションの作成理由と<br>実装した機能についての説明は<br>READMEに記載しています。</p>
            </figcaption>
          </figure>
          
        </div>
        
      </div>
      
    </section>

  </main>
  
  <footer id="footer">
    <div class="inner">
      <nav class="footer-link">
        <ul>
          <li><a href="#About">About</a></li>
          <li><a href="#works">Works</a></li>
        </ul>
      </nav>
      <p class="copyright">&copy;Naoya Matsumoto All Rights Reserved.</p>
    </div>
  </footer>
  
</div>